:root {
  --nav-color: #3474b9;
  --active-color: #2c6eb2;
  --btn-color: #2f71b8;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f2f6fe;
}
nav.navbar {
  background: var(--nav-color);
}
.logo {
  position: relative;
  margin-right: 40px;
  margin-left: 20px;
}
.logo .span-container span {
  display: inline-block;
  transform: rotate(45deg);
  margin-right: 5px;
}
.logo .span-container span:nth-of-type(1) {
  width: 20px;
  height: 20px;
  background: #87c73b;
}
.logo .span-container span:nth-of-type(2) {
  width: 15px;
  height: 15px;
  background: #c5316e;
}
.logo .span-container span:nth-of-type(3) {
  width: 10px;
  height: 10px;
  background: #2668af;
}
.logo p {
  font-size: 10px;
  position: absolute;
  top: 75%;
  text-transform: uppercase;
}
nav ul {
  width: 100%;
}
nav ul li {
  flex: 1;
}
nav ul li a {
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
}
/* Start Content */
.left-side {
  min-height: 100vh;
}
.notifications {
  color: #8c8f97;
}
.notifications .fa-bell-o {
  transform: rotateZ(15deg);
}
.daymode {
  width: 90px;
  border: 1px solid #8c8f97;
  display: inline-block;
}

.content {
  background: url(/img/backgroand.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
